/*** built-in emcee index styles ***/

.firstpage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 600px;
  color: white;
}

.firstpage div.slideindex a, .firstpage div .slideindex a:visited {
  color: #42affa;
}

.splash {
  text-align: center;
}

.slideindex {
  padding-left: 2em;
  font-size: 0.8em;
}