/*** built-in emcee chapter styles ***/

body .reveal section .sectioncount {
    font-size: 0.7em;
}

.reveal strong, .reveal dt, .reveal em {
    color: #8799db;
    font-weight: normal;
}

.slides .question:before {
  content: "?";
  display: block;
  font-size: 130px;
  color: red;
}

.slides .answer:before {
  content: "!";
  display: block;
  font-size: 130px;
  color: red;
}

.slides .challenge:before {
  content: "\2020";
  display: block;
  font-size: 80px;
  color: red;
}