/** my course-specific styles **/

.reveal img[src^="resources/diagrams/"] {
    background-color: #EEE;
    border-radius: 13px;
    padding: 7px;
}



/*
The Equality boxes are also prevalent throughout
*/
.reveal .equality {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reveal .equality img {
  border: 0;
  height: 140px;
  display: inline-block;
  background: none;
  box-shadow: none;
}

.reveal .equality span {
  display: inline-block;
  padding: 0 15px;
  font-size: 70px;
}

.reveal .equality img.isblack { /* special style for imgs which needs some kind of bg work */

}

/** CSS demos ***/

#instantexample, #transitionexample {
  margin: 0 auto;
  height: 100px;
  width: 100px;
  background-color: green;
}

#instantexample:hover, #transitionexample:hover {
  transform: rotate(45deg);
}

#transitionexample {
  transition: transform 1s ease;
}